<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyPhoneBookApp.Properties.Settings.PhoneBookConnectionString"
            connectionString="Data Source=EVAL1LAKES;Initial Catalog=MyPhoneBookDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyPhoneBookApp.Properties.Settings.MyPhoneBookDBConnectionString"
            connectionString="Data Source=Eval1Lakes;Initial Catalog=MyPhoneBookDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>